<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation details</title>
</head>
<body>
    <p>///////////////////////////////////</p>
    <p>Id: <span th:text="${reservation.id}"></span></p>
    <p>Table Number: <span th:text="${reservation.tableNumber}"></span></p>
    <p>Start Booking Time: <span th:text="${reservation.startBookingTime}"></span></p>
    <p>End Booking Time: <span th:text="${reservation.endBookingTime}"></span></p>
    <p>Surname: <span th:text="${reservation.surname}"></span></p>
    <p>Phone Number: <span th:text="${reservation.phoneNumber}"></span></p>
    <p>Email: <span th:text="${reservation.email}"></span></p>
    <p>Number of people: <span th:text="${reservation.numberOfPeople}"></span></p>
    <p>Address: <span th:text="${reservation.address}"></span></p>

    <br>
    <button><a href="#" th:href="@{/web/reservations}">Back to all reservations</a></button>
</body>
</html>